.contact {
  max-height: 100vh;
  animation: transitionInDownToUp 1.5s;
  padding: 8% 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.icons-contact {
  left: 2%;
  position: absolute;
  max-width: 3.2rem;
}

.icons-contact i {
  color: black;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  padding: 0.8rem;
  border: 2px solid black;
  border-radius: 50%;
  transition: 0.2s ease-in;
}

.icons-contact i:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.contact-image-section {
  text-align: center;
}

.contact-image-section img {
  max-width: 50rem;
}

.design1 {
  max-width: 30rem;
  position: absolute;
  opacity: 0.1;
  top: 5%;
  right: 5%;
}

.design2 {
  max-width: 20rem;
  position: absolute;
  opacity: 0.1;
  bottom: 5%;
  left: 5%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
  .contact-image-section img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
  .contact-image-section {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .contact-image-section {
    width: 100%;
  }
}
